<!DOCTYPE html>
<html>
<head>
  <title>Little Pet Shop</title>

  <link rel="icon" type="image/png" href="favicon-16x16.png" />

  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/firstpage.css">

</head>
<img class="centeredimage" src="images/littlest_pet_shop_logo_2_vector_by_varg45-d8y5up8.png">

<body>
  <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/pets">Pets</a></li>
      <li><a href="/owners">Owners</a></li>
    </ul>
</body>
<%= yield %>
</html>