<!DOCTYPE html>
<html>
<head>
  <title>Little Pet Shop</title>

  <link rel="icon" type="image/png" href="favicon-16x16.png" />

  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
</head>
<body>
  <%= yield %>
</body>
</html>