
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>

<link rel="stylesheet" type="text/css" href="/styles/frame.css">

<body>

  <form action="/pets" method="post">
    <div>
      <label>Mixie:
        <select name="pets"> 
          <option value="Adopt">Adopt</option>
          <option value="Pet">Pet</option>
          <option value="Feed">Feed</option>
          <option value="cuddle">cuddle</option>
        </select>
      </label>

      <input class="fsSubmitButton" type="submit" value="Mixie is loved" />


    </div>
  </form> 
</body>
</html>





