

<ul id="pets-container">
<% for pet in @pets %>
  <li>
    <img src="/images/<%= pet.image %>" />
    <form class="pet" action="/pets/adopt/1" method="post">
      <label><%= pet.name %>:
        <select name="owner_id"> 
          <option value="1">Amanda</option>
          <option value="2">Pearl</option>
          <option value="3">Fred</option>
          <option value="4">Callum</option>
        </select>
      </label>
      <input class="fsSubmitButton" type="submit" value="Mixie is loved!" />
    </form>
  </li>
 <% end %>
</ul>







