<h1>Mixie</h1>
<form action="/pets" method="post">
  <p>
  <label>Mixie:
    <select name="pets"> 
      <option value="Adopt">Adopt</option>
      <option value="Pet">Pet</option>
      <option value="Feed">Feed</option>
      <option value="cuddle">cuddle</option>
    </select>
    </label>
  </p>
  
  <input type="submit" value="Mixie is loved" />
</form> 

