
<link rel="stylesheet" type="text/css" href="/styles/show.css">
<html>
<body>


<img src="/images/<%= @pet.image %>"/>

<BODY>


<div class="button">
<%= @pet.name %>
<%= @pet.breed %>
</div>


   
  </BODY>


 
