h2 {
  text-align: center;
}

#pets-container img {
  width: 250px;
  height:250px;
}

#pets-container li {
  display: inline-block;
  margin: 25px 50px;
  padding: 0px;
  border: 1px solid #b2497d;
  color: #b2497d;
  font-size: 26px;
  border-radius: 30px;
  padding: 30px;
  background: -webkit-linear-gradient(bottom, #ff69b4, #fff0f7 255px);
  background: -moz-linear-gradient(bottom, #ff69b4, #fff0f7 255px);
  background: linear-gradient(bottom, #ff69b4, #fff0f7 255px);
}

#pets-container {
  margin: 0px 0px 0px 15px;
  padding: 0px;
}


form {
/*  background: url('/images/mixie2.jpg');
  background-repeat: no-repeat;*/
/*  margin-top: 70px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  position: relative;
  width: 350px;
  height: 250px;
  font-family: Arial;
  font-size: 26px;*/
/*  line-height: 470px;*/
/*  font-weight: bold;
  color: #b2497d;
  text-decoration: none;
  border-radius: 30px;
  padding: 30px;
  border: 1px solid #b2497d;
  border: inset 1px solid #b2497d;*/
}



.fsSubmitButton {
padding: 10px 20px 11px !important;
font-size: 21px !important;
background-color: #F36C8C;
font-weight: bold;
text-shadow: 1px 1px #F36C8C;
color: #ffffff;
border-radius: 100px;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;
border: 1px solid #F36C8C;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}