P.special {
  color : purple;
}


img {
  display: block;
  margin: auto;
  width: 20%;
  background-color: #C5F0B0;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;

}



