body {
  background: url('/images/Background_day.png');
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: Arial;
  padding: 0px;
  margin: 0px;
}

.nav {
  background-color: purple;
  color: #ffffff;
  box-shadow: 2px 6px 10px grey;
  list-style: none;
  text-align: center;
  padding: 20px 0 20px 0;
}

.nav > li {
  display: inline-block;
  padding: 0 25px 0 25px;
}


.nav > li > a {
  text-decoration: none;
  color: #ffffff;
}

.nav > li > a:hover {
  color: pink;
}

.hidden{
  display: none;
}