body {
 background: url('/images/Background_day.png');
 background-size: 100%;
 background-position: center;
 background-attachment: fixed;
 background-repeat: no-repeat;
 font-family: Arial;
}

.nav {
  list-style: none;
  text-align: center;
  background: #b834d9;
  background-image: -webkit-linear-gradient(top, #CB87EA, #B95BE3);
  background-image: -moz-linear-gradient(top, #CB87EA, #B95BE3);
  background-image: -ms-linear-gradient(top, #CB87EA, #B95BE3);
  background-image: -o-linear-gradient(top, #CB87EA, #B95BE3);
  background-image: linear-gradient(to bottom, #CB87EA, #B95BE3);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 3px 4px #666666;
  -webkit-box-shadow: 0px 1px 3px #e398e3;
  -moz-box-shadow: 0px 1px 3px #e398e3;
  box-shadow: 0px 1px 3px #e398e3;
  font-family: Arial;
  color: #ffffff;
  font-size: 27px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
 
}

.nav > li {
  display: inline-block;
  padding: 0 25px 0 25px;
}


.nav > li > a {
  text-decoration: none;
  color: #ffffff;
}

.nav > li > a:hover {
  color: pink;
}

.hidden{
  display: none;
}